body
 {
    background-color: coral;
}
h1{
    border:10px dashed rgb(255, 17, 0);
    padding:5px;
    width:500px;
    text-align: center;
}
p {
    border-radius: 90%;
    width: 75px;
    height: 50px;
    padding: 10px;
    background: #fff;
    border: 5px solid #000;
    color: #000;
    text-align: center;
    font: 32px Arial, sans-serif;
  }
  
  table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
    
        }


  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
  }

  td {
    text-align: center;
  }

  caption {
    padding: 10px;
  }
  .tb.buygrandma {
    background-color: red;
  }
 
